
body{
    margin: 0;

}

/*Formatação do cabeçalho */

#cabecalho{
  background-color:black;
  padding: 0px 0px 25px;
  border: goldenrod solid 4px;
  font-family: Arial, Helvetica, sans-serif;
}


/*Formatação do Menu*/

#menu {
    list-style: none;
    margin-left: 125px;
    margin-top: 45px;
     
}

#menu li {
    display: inline-block;
    padding: 15px 0px;
    background-color: white;
    color: black;
    margin: 10px 2px;  
    font-weight: bold;
    border: 1px solid gold;
    border-radius: 10px;
}

a.lista{   
    background-color: white;
    padding: 5px;
    color: black;
    text-decoration: none;  
    transition: 0.4s;
    
}

a.lista:hover{
    background-color:gold;
    color:white;
    padding:16px;
    text-decoration: none;
    border-radius:10px;
    
}


/*formatação da logo*/

img.logo{
    position: absolute;
    padding: 0px;
    width: 150px;
    height: 130px;
    float: left;
    top: 15px;
    left: 10px;
    right: -5px;
    margin: 0px;
}

/*formatação do Banner*/

#banner{
    background-image: url(imagens/banner.jpg);
    background-size: cover;
    padding:10%;
    height: 350px;
    text-align: center;
    border: solid 2.5px black ;
}

#acao{
   margin-top: 80px; 
   padding: 10px;
   font-weight: bold;
   list-style: none;  
   
}

#botao{
    background-color: white;
    padding:8px;
    color: black;
    text-decoration: none;  
    transition: 0.5s;
    border:2px solid black;} 


#botao:hover{
    background-color: black;
    color: white; }
   

/*formatação dos titulos/subtitulos/paragrafos */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

#titulo{ 
    margin-top: 20px;
    font-family: 'Lexend Peta', sans-serif;
    line-height: 0.5em;
    font-size: 50px;
    margin-bottom: 80px;
    text-shadow: 3px 3px 3px white ;

}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Oswald:wght@659;700&display=swap');

#subtitulo{
    font-family: 'Mulish', sans-serif;
    font-size: 37px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px white;
    line-height: 2em;

}

/*formatação da interface*/

#interface{
    font-family: Arial, Helvetica, sans-serif;
    
}

/*formatação dos subtitulos na interface*/

.ods7{
    
    margin-top: 40px;
    }

.editar{
    
    margin-top:40px;
    font-size:30px ;
}

h3{
  
    text-align: center;
    font-size: 30px;
}

h4{
   
    text-align: center;
    font-size:25px ;
}

h5{
    
    text-align: center;
    font-size:20px ;
}

h6{
   
    text-align: center;
    font-size: 17px;
}

/*formatação dos parágrafos*/

.paragrafos2{
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

.paragrafos{
    text-indent:10px ;
    text-align: justify;
    margin: 20px 0;
    
}

/*formatação das imagens/videos*/

img.apresentar{
    width: 100%;
    margin: 40px auto;
    
}
img.editar-imagem{
    width: 100%;
    margin: 40px auto; 
      
}

iframe.video-quenia{
    width:100%;
    margin:40px auto;
}

iframe.video-pich{
    width:100%;
    margin:40px auto;
}

/*Formatação das colunas*/

#coluna-esquerda{
    display: block;
    width: 42%;
    float: left;
    margin:0px 5% ;
    border-right: black solid 2px;
    padding-right: 50px;
}

#coluna-direita{
display: block;
width: 35%;
float: right;
margin-right: 6%;

}

.solares{
    list-style: none;  
}

/*formatação das Etapas*/


/*Formatação do Rodapé */

#rodape{
    clear: both;
    color: white;
    margin-top: 40px;
    background-color: black;
    padding: 50px;
}

.texto-ao-centro{
    text-align: center;  
}

#onu{
    color: white;
    text-align: center;
    text-shadow: black;
}

#onu:hover{
    color:goldenrod;
}

a.sombra{
    text-decoration:none;
}

/*Formatação responsiva*/

@media all and (max-width: 1085px) {

    #menu{
      padding-left:0 ;
      margin-top:25px ;
      margin-left:200px;
    }

    #menu li{
        padding: 5px ;
        margin-bottom:15px ;
        margin-right:8px ;
    }


    #titulo{
        line-height: 6vw;
        margin-bottom: 20px;

    }


    #cabecalho{
        height: 160px;
        padding: 0;
        
    }

    img.logo{
      width: 140px ;
      height: 100px;
      margin:20px 0 20px 20px;

     }

    #coluna-esquerda, #coluna-direita{
      display: block;
      width: 44.5%;
      padding: 0 30px;
      margin: 10px 25%;
      float: none;
      border-right: black solid 2px;
      border-left: black solid 2px;
     }
   
}


@media all and (max-width: 881px) {
    #menu li{
        padding: 2px;
        border-radius:5px;

    }
    a.lista{
        padding: 1.5px;

    }

    #titulo{
    font-size :35px;
    line-height: 8vw; 
    }

    #subtitulo{
        font-size :25px; 
    }
}

@media all and (max-width: 724px) {

    #menu{
        margin-top: 5px ;
    }
    #menu li{
        padding: 0.5px;
        margin-bottom:10px ;
        margin-right: 1.5px;
    }

    a.lista{
        padding: 0.5px;

    }

    #titulo{
    font-size :32.5px;
    line-height: 8vw; 
    }

    #subtitulo{
    font-size :25px; 
    }

    #botao{
     padding:2px ;

    }
   
}

@media all and (max-width: 599px) {

    #menu{
        visibility: hidden;

    }
    img.logo{
        margin-left: 35%;
        
        
    }
    #tabela{
        width: 20%;
    }


}

@media all and (max-width: 463px) {

    #titulo{
    font-size :25px;
    line-height: 10vw;
    }

    #subtitulo{
    font-size :20px; 
    }

    h3.editar{
        font-size :6vw;
        
    }
    h3.ods7{
        font-size :6vw;
    }
    h3{
        font-size :6vw;
    }
    h4{
        font-size :6vw;
    }
    h5{
        font-size :5vw;
    }
    h6{
        font-size :15px;
    }
    iframe.video-pich{
        height: 50%;

    }
    iframe.video-quenia{
        height: 50%;

    }
    ul.solares{
        padding: 0;
    }

    img.logo{
        margin-left: 30%;

    }
} 

@media all and (max-width: 312px) {


    #titulo{
        font-size:22px ;

    }
    #subtitulo{
        font-size:15px;
    }


}   



    
   



    
    













 



