@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Oswald:wght@659;700&display=swap');

/*formatação da interface */

body{
    margin: 0px;

}

#interface{
    font-family: Arial, Helvetica, sans-serif;
}


/*Formatação do cabeçalho */

#cabecalho{
  background-color:black;
  clear: both;
  padding: 0px 5%;
  overflow: hidden;
  border: goldenrod solid 4px;
  font-family: Arial, Helvetica, sans-serif;
}





   /*Formatação do Menu*/

#menu {
    list-style: none;
    margin-left: 140px;  
     
}

#menu li{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 15px 0px 15px 8px ;
    margin: 10px;  
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid blue;
    
}


.lista{
    
    background-color: white;
    padding: 5px;
    color: black;
    text-decoration: none;  
    transition: 0.5s;
    
}

.lista:hover{
    background-color:darkblue;
    text-decoration: none;
    color:white;
    padding:16px;
    text-decoration: underline white;
    
}


   /*formatação da logo*/


.logo{
    width: 150px;
    height: 130px;
    float: left;
    position: absolute;
    top: 15px;
    left: 20px;
    right: -5px;
    margin: 0px;
    padding: 0px;
}




/*formatação do Banner*/

#banner{
    background-image: url(imagens/banner.jpg);
    background-size: cover;
    padding:100px ;
    height: 500px;
    display: block;
    text-align: center;
    border: solid 2px black ;
    border-left:2px solid black ;
}

#titulo{ 
    margin-top: 70px;
    font-family: 'Oswald', sans-serif;
    line-height: 0.5em;
    font-size: 50px;
    margin-bottom: 70px;
    text-shadow: 2px 2px 2px white ;

}

#subtitulo{
    font-family: 'Mulish', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    margin-bottom: 70px;
    text-shadow: 2px 2px 2px white;
}


#acao{
   margin-top: 100px; 
   padding: 10px;
   border-radius: 6px;
   font-weight: bold;
   list-style: none;  
   
}

#botao{
    background-color: white;
    padding:8px;
    color: black;
    text-decoration: none;  
    transition: 0.5s;
    border:2px solid black;} 


#botao:hover{
    background-color: black;
    color: white; }


   
   


/*Formatação das colunas*/








/*Formatação das seções 1,2,3,4,5*/




   /*formatação dos titulos/subtitulos */

.ods7{
    margin-top: 40px;
}

.editar{
    margin-top:40px;
    font-size:30px ;
}

h3{
text-align: center;
font-size: 30px;
}


h4{
    text-align: center;
    font-size:25px ;
}

h5{
    text-align: center;
    font-size:20px ;
}

h6{
    text-align: center;
    font-size: 17px;
}







.texto-ao-centro{
    text-align: center;
}


.paragrafos{
    text-indent:10px ;
    text-align: justify;
}

.apresentar{
    width: 100%;
    margin: 40px 0;
    
}



.editar-imagem{
    width: 400px;
    margin: 40px 80px;   
}


.video{
    width:400px;
    margin:40px 0px 40px 80px ;
}


.margem-baixo{
    margin-bottom: 30px;
}



#coluna-esquerda{
    display: block;
    width: 600px;
    float: left;
    margin:0px 40px ;
    border-right: solid 2px black ;
    padding-right: 30px;
}


#coluna-direita{
display: block;
width: 580px;
float: right;
margin-right: 40px;
}

.solares{
    list-style: none;  
}





/*Formatação do Rodapé */

#rodape{
    margin-top: 40px;
    padding: 20px 5%;
    color:white;
    background-color: black;
    text-align: center;
    clear: both;
   
}