
/*formatação da interface */

body{
    margin: 0px;

}

#interface{
    font-family: Arial, Helvetica, sans-serif;
}


/*Formatação do cabeçalho */

#cabecalho{
  background-color:black;
  clear: both;
  padding: 0px 5%;
  overflow: hidden;
  border: goldenrod solid 4px;
  font-family: Arial, Helvetica, sans-serif;
}


   /*Formatação do Menu*/

#menu {
    list-style: none;
    margin-left: 140px;  
     
}

#menu li{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 15px 0px 15px 8px ;
    margin: 10px;  
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid blue;
    
}

.lista{
    
    background-color: white;
    padding: 5px;
    color: black;
    text-decoration: none;  
    transition: 0.5s;
    
}

.lista:hover{
    background-color:darkblue;
    text-decoration: none;
    color:white;
    padding:16px;
    text-decoration: underline white;
    
}


/*formatação da logo*/


.logo{
    width: 150px;
    height: 130px;
    float: left;
    position: absolute;
    top: 15px;
    left: 20px;
    right: -5px;
    margin: 0px;
    padding: 0px;
}

/*formatação do Banner*/

#banner{
    background-image: url(imagens/banner.jpg);
    background-size: cover;
    padding:100px ;
    height: 500px;
    display: block;
    text-align: center;
    border: solid 2px black ;
    border-left:2px solid black ;
}

#acao{
   margin-top: 100px; 
   padding: 10px;
   border-radius: 6px;
   font-weight: bold;
   list-style: none;  
   
}

#botao{
    background-color: white;
    padding:8px;
    color: black;
    text-decoration: none;  
    transition: 0.5s;
    border:2px solid black;} 


#botao:hover{
    background-color: black;
    color: white; }





.solares{
        list-style: none;  
    }

.margem-baixo{
        margin-bottom: 30px;
    }





/*formatação dos titulos/subtitulos/paragrafos */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Oswald:wght@659;700&display=swap');


#titulo{ 
    margin-top: 70px;
    font-family: 'Oswald', sans-serif;
    line-height: 0.5em;
    font-size: 50px;
    margin-bottom: 70px;
    text-shadow: 2px 2px 2px white ;

}

#subtitulo{
    font-family: 'Mulish', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    margin-bottom: 70px;
    text-shadow: 2px 2px 2px white;}

.ods7{
        margin-top: 40px;
    }

.editar{
       margin-top:40px;
       font-size:30px ;
}

h3{
       text-align: center;
       font-size: 30px;
}

h4{
       text-align: center;
       font-size:25px ;
}

h5{
        text-align: center;
        font-size:20px ;
}

h6{
    text-align: center;
    font-size: 17px;
}

.texto-ao-centro{
    text-align: center;
}


.paragrafos2{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}


.paragrafos{
    text-indent:10px ;
    text-align: justify;
    margin: 20px 0;
}



/*formatação das imagens/videos*/

.apresentar{
    width: 100%;
    margin: 40px 0;
    
}
.editar-imagem{
    width: 400px;
    margin: 40px 80px;   
}

.video-quenia{
    width:500px;
    margin:40px 0px 40px 80px;
}

.video-pich{
    width:400px;
    margin-left: 40px;
}



/*Formatação das colunas*/

#coluna-esquerda{
    display: block;
    width: 45%;
    float: left;
    margin:0px 5% ;
    border-right: solid 2px black ;
    padding-right: 50px;
}


#coluna-direita{
display: block;
width: 35%;
float: right;
margin-right: 6%;

}


/*Formatação do Rodapé */

#rodape{
    margin-top: 40px;
    padding: 20px 5%;
    color:white;
    background-color: black;
    text-align: center;
    clear: both;
   
}


/*Formatação responsiva*/

@media all and (max-width: 1085px) {

    #menu{visibility: hidden;}

    #cabecalho{
        height: 60px;
        padding: 0;
        
    }

  .logo{
      width: 100px ;
      height: 60px;
      margin-top: -10px;

  }

    #coluna-esquerda, #coluna-direita{

      display: block;
      width: 50%;
      padding: 0 30px;
      margin: 10px 25%;
      float: none;
      border-right: black solid 2px;
      border-left: black solid 2px;
    }
   

  .video-quenia{
      width: 400px;
      margin: 40px 0px 40px 60px;
  }

  .video-pich{
      width: 400px;
      margin: 40px 0px 40px 60px;
  
}

  .editar-imagem{
     margin-left: 70px;
     width: 400px;
}


}
@media all and (max-width: 840px){
 
     #titulo{
  
       line-height: 2em;
       margin: 10px 0 20px 0;
 }
 
    .video-pich{
       margin-left: 140px;
       width: 400px;
       
    }
 
    .video-quenia{
        width: 400px;
        margin-left:140px ;
    }
 
     #coluna-esquerda, #coluna-direita{
 
         display: block;
         width: 80%;
         padding: 0 30px;
         margin: 10px auto;
         float: none;
         border-right:2px solid black;
         border-left:2px solid black;}
     
     
     .editar-imagem{
     margin-left: 10%;
     width: 80%;
     }
 
 }
@media all and (max-width: 512px){

#titulo{
    font-size: 35px;
}

#subtitulo{
    font-size: 27px ;
}


.video-quenia{
width: 400px ;
margin-left:-6px ;
}

.video-pich{
    width:415px ;
    margin-left: -6px;
    
}



}
@media all and (max-width: 400px){



#coluna-esquerda, #coluna-direita{
    border: none;
}

 .video-quenia{
  width: 300px;
}
.video-pich{
 width: 300px;
}

}

    
    



   




   
    



    
   



    
    













 



